:root {
  --disney-bg-colour-linear: linear-gradient(rgba(1, 81, 101, 1), rgba(5, 7, 20, 1));
  
  --white: rgba(255, 255, 255, 1);
  --black: rgba(0, 0, 0, 1);
  --grey: rgba(49, 52, 62, 1);
  --grey-light: rgba(113, 113, 114, 1);
  --disney-plus-default: rgba(2, 214, 232, 1);
}